!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Hi there!
    %p= "You can find your shopping list to #{@shopping_list.name} in attachment."
    %p= "Remember to do shopping on #{@shopping_list.shopping_day}." 
