/ Footer
%footer.text-center.text-lg-start.bg-light.text-muted
  / Copyright
  .text-center.p-4{style: "background-color: rgba(0, 0, 0, 0.05);"}
    © 2021 Copyright:
    %a.text-reset.fw-bold{href: "https://mdbootstrap.com/"} MDBootstrap.com
  / Copyright
/ Footer
