%header.row.container-fluid.text-center.align-items-center
  -# logo
  .col-12.col-sm-6.mb-3
    #home-logo.shc-icon.img-fluid
  -# household name
  .col-6.col-sm-3.mb-3
    #home-myhouse-icon.shc-icon.img-fluid.mx-auto
    %p.card-text myHouseName
  -# household members
  .col-6.col-sm-3.mb-3
    #home-members-icon.shc-icon.img-fluid.mx-auto
    %p.card-text Members

.main-options.row.container-fluid
  - @home_cards.each do |name|
    = render "home-card", :name => name, :src => "#{name}.svg"
